body{
    background-color: #8ec5fc;
    background-image: linear-gradient(90deg, #8EC5FC 0%, #E0C3FC 50%, #ffffff 100%);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 6rem;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin:auto;
    width:fit-content;
    background-color: #ffffff;
    height: auto;
    border-radius: 2px;
    padding-left: 30px;
    box-shadow: -6px -3px 12px 1px rgba(133,88,201,0.46);
}
.h1{
    padding-top: 9px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(28 53 177);
}
.top-head{
    /* margin-top: 20px; */
    /* height: 50px; */
    /* text-align: center; */
    /* background-color: #fd5c63; */
    background-color: #8EC5FC;
    background-image: linear-gradient(90deg, #8EC5FC 0%, #E0C3FC 50%, #ffffff 100%);
    margin-left: -30px;
    border-top-left-radius: 2px ;
    border-top-right-radius: 2px;
    
}
input:focus-visible {
    outline: none;
    border: none;
}
.first{
    display: flex;
    margin-left: 10px;
    width: 380px;
    height: 50px;
    /* background-color: rgb(254, 255, 177); */
    /* background-color: #fd5c63; */
    background-color: transparent;
    border-bottom: 2px solid #8ec5fc;
    /* border: 1px solid rgb(0, 0, 0); */
    margin-top: 30px;
    margin-right: 20px;

}
.name{
    margin: 5px 7px 0px 7px;
    width: 40px;
}
.password{
    margin: 0px 7px 0px 7x;
    width: 50px;

}
.input{
    width: 300px;
    height: 30px;
    margin: 10px 0px 0px 18px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-weight:600;
}

::placeholder{
    color: #929292;
    font-family:monospace;
}
.btn{
    width: 180px;
    height: 40px;
    font-size:x-large;
    border-radius: 12px;
    /* border: none; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    box-shadow:1px 1px ;
    margin: 10px 0px 0px 100px;

    background-color: white; 
    color: black; 
    border: 2px solid #8ec5fc;
    transition-duration: 0.4s;
    }
  
  .btn:hover {
    background-color: #f76258;
    /* color: white; */
    background-color: #8ec5fc;
    background-image: linear-gradient(90deg, #8EC5FC 0%, #E0C3FC 50%, #ffffff 100%);
  }
  .btn:active {
    color: rgb(0, 0, 0);
    margin: 11px 0px 0px 101px;
  }
.submit-btn{
    background-color: transparent;
    border-bottom: 0px;
    margin-bottom: 3rem;
}


.dontAcc{
    /* position: absolute; */
    margin-left:-6rem;
    padding-top: 1rem;
    color: #226bb4;
    font-size: 1.1rem;

}
.dontAcc a:hover{
    color: rgb(255, 0, 0);

}